<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.dim.sechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".SechatApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".settings.SettingsActivity" android:label="@string/settings" />
        <activity android:name=".group.MembersActivity" android:label="@string/group_members" />
        <activity android:name=".group.ExpelActivity" android:label="@string/group_expel" />
        <activity android:name=".group.InviteActivity" android:label="@string/group_invite" />
        <activity android:name=".account.UpdateAccountActivity" />
        <activity android:name=".chatbox.ChatboxActivity" />
        <activity android:name=".chatbox.ChatManageActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".search.SearchActivity" android:label="@string/search" />
        <activity android:name=".register.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:label="@string/app_name" />
    </application>

</manifest>